@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* رنگ پس زمینه اصلی */
    --colBg: #eeeeee;

    /*  رنگ سایدبار و کارت ها   */
    --colCard: #f9f4f4;

    /*  رنگ متن 1 */
    --colTextA: #3A3878;

    /*  رنگ متن 2 */
    --colTextB: #838AAB;
}

.dark {
    /* رنگ پس زمینه اصلی */
    --colBg: #3f3f46 ;

    /*  رنگ سایدبار و کارت ها   */
    --colCard: #27272a ;

    /*  رنگ متن 1 */
    --colTextA: #ececec;

    /*  رنگ متن 2 */
    --colTextB: #b7b7b7;
}

.leaflet-control-attribution {
  display: none !important;
}
