@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* رنگ پس زمینه اصلی */
    --colBg: #eeeeee;

    /*  رنگ سایدبار و کارت ها   */
    --colCard: #fdfefe;

    /*  رنگ متن 1 */
    --colTextA: #3A3878;

    /*  رنگ متن 2 */
    --colTextB: #838AAB;

    --zoomControl: #3a3a3a;
    --zoomControlText :#ffffff;


    --textHover: #60a5fa;
}

.dark {
    /* رنگ پس زمینه اصلی */
    --colBg: #3f3f46 ;

    /*  رنگ سایدبار و کارت ها   */
    --colCard: #27272a ;

    /*  رنگ متن 1 */
    --colTextA: #ececec;

    /*  رنگ متن 2 */
    --colTextB: #b7b7b7;


     --zoomControl: orange;
     --zoomControlText :#ffffff;

     --textHover: orange;

}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-zoom-out{
  border-radius:50% !important;
  background-color: var(--zoomControl) !important;
  color: var(--zoomControlText) !important;
  border:none !important;
}

.leaflet-control-zoom-in{
    border-radius:50% !important;
    background-color: var(--zoomControl) !important;
    color: var(--zoomControlText) !important;
    border:none !important;
}

.leaflet-touch .leaflet-bar {
  border:none !important;
  display: flex  !important;
  gap: 5px !important;
   flex-direction: row-reverse !important; 
}

/* map markers */

.blinking-circle-active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #15a615;
  animation: blink 1s infinite;
}

.blinking-circle-deactive {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff0000;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}


.selected-marker{
  box-shadow: 0 0 0 2px white;
}

.apexcharts-yaxis-label , .apexcharts-xaxis-label{
  fill: var(--colTextB) !important;
}

.apexcharts-tooltip , .apexcharts-tooltip-title{
  background-color: var(--colCard) !important;
}